*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    
}

section{
    width: 1440px;
    
}

.box_1{
    width: 1440px;
    height: 799px;
    background: #284854;
    text-align: center;
    background: #284854;
}

.login{
    width: 1230px;
    height: 81px;
    margin-top: 23px;
    border: 2px solid #60C1BD;
    background: #60C1BD;
    border-radius: 100px;
}

.i_login{
    height: 33px;
    width: 125px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    margin-top: 27px;
    margin-left: 32px;
    float: left;
}

.v_login{
    height: 25px;
    width: 109px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #284854;
    margin-top: 33px;
    margin-left: 305px;
    float: left;
}

.h_login{
    height: 25px;
    width: 77px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #284854;
    margin-top: 36px;
    margin-left: 84px;
    float: left;
}

.w_login{
    height: 25px;
    width: 125px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #284854;
    margin-top: 36px;
    margin-left: 95px;
    float: left;
}

.button_login{
    height: 25px;
    width: 96px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 36px;
    margin-right: 67px;
    float: right;
    background: #60C1BD;
    border-color: #FFFFFF;
}

.center{
    height: 391px;
    width: 1200px;
    margin: 134px 120px 170px 120px;
    background-image: url(./img/Group.svg);
    background-position: right 66.84px bottom 13.44px;
    background-repeat: no-repeat;
}

.text{
    height: 204px;
    width: 712px;
    margin: -15px 428px 60px 60px;
    left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 85px;
    line-height: 102px;
    color: #8BC441;
    text-align: start;
}

.content{
    height: 112px;
    width: 542px;
    margin: 0px 598px 30px 60px;
    left: 60px;
    text-align: start;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}



.big{
    height: 1687px;
    background: #E5E5E5;
} 

.outside{
    height: 203px;
    width: 1179px;
    margin-top: -80px;
    margin-left: 130.5px;
    margin-right: 130.5px;
    margin-bottom: 166px;
}

.outside:after{
    content: "";
    display: block;
    clear:both
} 

.left_outside{
    background: #F4F6F0;
    height: 203px;
    width: 506px;
    margin: 0px 41.5px 0px 42.5px;

}

.img_left_outside{
    height: 111px;
    width: 101px;
    margin: 45px 0px 47px 30px;
}

.text_left_outside{
    height: 106px;
    width: 297.86px;
    margin: 48.5px 31px 48.5px 46.15px;
    float: right;
    text-align: left;
}

.t_l_o{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
    color: #8BC441;
    margin-top: 0.5px;
}

.button_left_outside{
    height: 54px;
    width: 182px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #60C1BD;
    margin-top: 9px;
    text-align: left;
    border: none;
}

.right_outside{
    background: #F4F6F0;
    height: 196px;
    width: 506px;
    margin: 0px 41.5px 0px 41.5px; 
    float: right;
}

.img_right_outside{
    height: 100px;
    width: 118.45px;
    margin: 47px 0px 49px 30px;
}

.text_right_outside{
    width: 297.86px;
    height: 106px;
    margin: 45px 30.5px 45px 29.2px;
    float: right;
    text-align: left;
}

.t_r_o{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 43px;
    color: #8BC441;

}

.button_right_outside{
    height: 54px;
    width: 188px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #60C1BD;
    margin-top: 9px;
    text-align: left; 
    border: none;
}

.center_big{
    height: 1318px;
    width: 1440px;
    margin-bottom: 40px;
    text-align: center;
}

.center_big:after{
    content: "";
    display: block;
    clear:both
} 

h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #60C1BD;
    text-align: center;
    margin-top: 8px;
}

h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #284854;
}

.circle_1{
    width: 285px;
    height: 285px;
    border-radius: 50%;
    background: #D3DAC3;
    margin-top: 143px;
    float: left;
    margin-left: 231px;
}

.img_circle_1{
    margin-bottom: 29.01px;
    margin-top: -32px;
}

.step_one{
    height: 208px;
    width: 525px;
    margin-top: 159px;
    margin-right: 130px;
    text-align: left;
}

.h1_step_one{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

.h2_step_one{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
    margin-top: 10px;
    margin-bottom: 2px;
}

.p_step_one{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}

.next_circle2{
    height: 336.99px;
    width: 992px;
    margin-top: 80px;
    margin-left: 255px;
    margin-right: 193px;
} 

.next{
    height: 285px;
    width: 451px;
    margin-top: 51.99px;
    text-align: left;
    float: left;
    margin-left: 0px;
    margin-right: 175px;
    
}



.h1_next{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

.h2_next{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
    margin-bottom: 10px;
}

.p_next{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #284854;
}

.circle_2{
    width: 285px;
    height: 285px;
    border-radius: 50%;
    background: #D3DAC3;
    margin-top: 51.99px;
    float: right;
    margin-right: 0px;
    margin-left: 0px; 
}

.img_circle_2{
    margin-top: -52px;
    margin-left: -27px;
    margin-bottom: 33px;
    margin-right: 62px;
}

.circle_3{
    width: 285px;
    height: 285px;
    border-radius: 50%;
    background: #D3DAC3;
    margin-top: 84px;
    margin-left: 201px;
    float: left;
}

.img_circle_3{
    margin-top: -14px;
    margin-left: 74px;
}

.the_result{
    height: 280px;
    width: 489px;
    margin-top: 83px;
    margin-right: 205px;
    margin-left: 130px;
    text-align: left;
    float: right;
}

.h1_the_result{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #798B56;
}

.h2_the_result{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #8BC441;
}

.p_the_result{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}




.mission{
    width: 1440px;
    height: 601px;
    background: #F4F6F0;
}

.center_mission{
    width: 1074px;
    height: 396px;
    margin: 78px 183px 127px;
}

.img_mission{
    margin: 5px 0px 7.77px;

}

.text_center_mission{
    margin: 0px 0px 0px 112px;
    height: 396px;
    width: 512px;
    float: right;
}

.p_in_mission{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #60C1BD;
}

.h1_mission{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 64px;
    color: #284854;
    margin-bottom: 31px;
    margin-top: 5px;
}

.text_in_mision{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #284854;
}

.button_mission{
    width: 121px;
    height: 38px;
    border: 1px solid #60C1BD;
    margin-left: 35px;
    margin-top: 50px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #60C1BD;

}



.rover{
    height: 438px;
    width: 1440px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #8BC441; 
}

.center_rover{
    height: 266px;
    width: 1074px;
    margin: 86.2px 183px 85.8px;
}


.img_rover{
    height: 261px;
    width: 237px;
    margin-top: 3.44px;
    margin-left: 2.16px;
}

.text_rover{
    height: 266px;
    width: 672.11px;
    float: right;

}

.p_rover{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
}



.left_button{
    width: 239px;
    height: 81px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 57px 0px 0.2px 0px;
    border: none;
    text-align: left;
    background: #8BC441;
}

.div_right_button{
    height: 81px;
    width: 301px;
    float: right;
    margin: 57px 0px 0.2px 132px;
}

.right_button{
    width: 210px;
    height: 81px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF; 
    border: none;
    text-align: left;
    background: #8BC441;
}


.last{
    width: 1440px;
    height: 445px;
    background: #E5E5E5;
}

.last_in_last{ 
    height: 360.44px;
    width: 1196px;
    margin: 42px 122px 42.56px;
}

.last_in_last:after{
    content: "";
    display: block;
    clear:both;
}

.veterinarians{
    height: 136px;
    width: 146px;
    margin-top: 78px;
    margin-left: 30px;
    margin-bottom: 71px; 
    float: left;
}

.h1_veterinarians{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #284854;
}

.h2_veterinarians{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #60C1BD;
    margin-top: 25px;
    margin-bottom: 18px;
}

.h3_veterinarians{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
}

.h4_veterinarians{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
    margin-top: 18px;
}

.hospitals{
    height: 136px;
    width: 180px;
    margin-top: 78px;
    margin-left: 138px;
    margin-bottom: 71px;
    margin-right: 104px;
    float: left;
}

.h1_hospitals{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #284854;

}

.h2_hospitals{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
    margin-top: 25px;
    margin-bottom: 18px;

}

.h3_hospitals{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;

}

.h4_hospitals{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
    margin-top: 18px;
}

.img_last{
    height: 209.31px;
    width: 230px;
    margin-top: 98px;
    margin-right: 97px;
}

.find_us{
    height: 175px;
    width: 189px;
    margin-top: 78px;
    margin-right: 75px;
    float: right;
}

.h1_find_us,
.h2_find_us,
.h3_find_us,
.h4_find_us,
.h5_find_us,
.h6_find_us{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #60C1BD;
}

.h3_find_us{
    margin-top: 4px;
    margin-bottom: 4px;
}

.h1_find_us{
    margin-bottom: 25px;
}

.h5_find_us{
    margin-top: 29px;
    margin-bottom: 4px;
}

.span_last{
    /* margin-bottom: 37px; */
    /* margin-right: 30px; */
    margin-left: 30px;
    height: 19px;
    width: 546px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #60C1BD;
}

.blog{
    margin: 0px 39px;
}

.us{
    margin: 0px 39px;
}

.privacy{
    margin-left: 39px;
}

.div_last{
    height: 18px;
    width: 106px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #284854;
    margin-left: 30px;
    margin-bottom: 1.44px;
    /* margin-top: 37px; */
}